html, body, * {
  box-sizing: border-box;
}

.displayCase {
  background: green;
  width: 200px;
}


button {
  height: 25px;
  width: 20px;
  color: black;
  border: black 1px solid;
  margin: 4px;
}

#output {
  height 50px;
  width: 100px;
  color: black;
  border: 1px black solid;
  margin: 4px;
  background-color: white;
}
